<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.BannerDao">

    <select id="selectBanner" resultType="Banner">
       select * from banner group by createTime desc limit #{pageStart},#{pageEnd}
    </select>
    <select id="selectBannerCount" resultType="Integer">
        select
  		count(*)
  		from banner
    </select>
    <insert id="addBanner" parameterType="Banner">
          insert into banner values (#{id},#{picName},#{picPath},#{description},#{status},#{createTime},#{url})

    </insert>
    <update id="updateBanner" parameterType="Banner">
        update banner
        set id=#{id},picName=#{picName},picPath=#{picPath},description=#{description},description=#{description},status=#{status},createTime=#{createTime},url=#{url}
        where id=#{id}
    </update>
    <delete id="deleteBanner" parameterType="String">
        delete from banner where id=#{id}
    </delete>

</mapper>
